service firebase.storage {
  match /b/{bucket}/o {
    match /images {
      match /{userId}/{imageId} {
        allow write: if request.auth.uid == userId
                     && request.resource.metadata.user == request.auth.uid
                     && !imageId.matches('^thumb_.*')
                     && request.resource.contentType.matches('image/.*');
      }
    }
  }
}
